*
{
    padding: 0;
    margin: 0;
}

/*-------Navigation------*/
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
    border-top: 3px solid #000000;
    border-bottom: 3px solid #000000;
}
.navbar-grp img
{
    height: 50px;
    width: 180px;
    padding-left: 30px;
}
.navbar-nav li
{
    padding: 0 10px;

}
.navbar-nav li a
{
    float: right;
    text-align: left;

}
#nav-bar ul li a:hover
{
    color: #007bff !important;
}
.navbar
{
    background: #c7c7c7;
    padding: 0 !important;
}
.navbar-toggler
{
    outline: none !important;
    border: groove !important;
}
.nav-link
{
    color:#555 !important;
    font-weight: 900;
    font-size: 20px;
}
/*------Team Members*/
#team
{
    background-image: url(img/team.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #efefef;
}
h1
{
    text-align: center;
    color: #efefef !important
    padding-bottom: 10px;
}
h1::after
{
    content: '';
    background: #007bff;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
#ijob
{
<<<<<<< HEAD
    padding-top: 50px;
=======

>>>>>>> e2c0bf3394aab396c1b6b6a079ca9b28342a089f
    margin: 80px;
    padding-left: 50px;
    padding-right: 50px;
}
h1
{
    padding-bottom: 10px;
}

.content-table
{
    border-collapse:collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}
.content-table thead, td
{
    border: 2px solid #007bff;
    width: auto;
}
.content-table thead tr
{
    background-color: #007bff;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}
.content-table td
{
    padding: 12px 15px;
}
.content-table tbody tr
{
    border-bottom: 1px solid #dddddd;
    text-align: center;
}
.content-table tbody tr:nth-of-type(even)
{
    background-color: #f3f3f3;
}
.content-table tbody tr:hover
{

    color: #007bff;
}
.ideal
{
    border-left: 4px solid #007bff;
    margin: 40px;
    display: inline-block;
}
